*{
	padding: 0;
	margin: 0;
}
body,html{
	width: 100%;
	height: 100%;
	background: #efefef;
}
.header{
	width: 100%;
	height: 0.74rem; 
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
} 
.header a:nth-child(1){
	margin-left: 3% ;
}  
.header div{
	font-size: 0.3rem;
}                                            
.header a:nth-child(3){
	font-size: 0.28rem;
	color: #fc5008;
	margin-right: 3% ;
}
.main{ 
	width: 93%;
	height: 1.5rem;
	margin: 0.2rem auto;
}
.main div{
	width: 100%;
	position: relative;
}
.main div input{
	width: 100%;
	height: 0.78rem;
	border: 0.02rem solid #f3f3f3;
	font-size: 0.25rem;
	text-indent: 0.8rem;
	color: #999;
	line-height: 0.9rem;
	border-radius: 0.05rem;
	outline: 0;
}
.main div .wode{
	background: #fff;
	position: absolute;
	left: 0.1rem;
	font-size: 0.6rem;
	color: #c0c0c0;
	top: 0.05rem;
}
.main div:nth-child(2){
	display: none;
}
.main div:nth-child(4){
	display: none;
}
.main div #yanzheng{
	width: 70%;
	height: 0.74rem;
	color: #c5c5cb;
	/*border: 0.01rem solid #dfdfdf;*/
	float: left;
	border-right: none;
	text-indent: 0.4rem;
	outline: 0;
	font-size: 0.25rem;
}
.main .main_d4{
	overflow: hidden;
	margin-top:0.2rem ;
}
.main div #huoqu{
	width: 29.5%;
	height: 0.76rem;
	line-height: 0.76rem;
	background: #8fc31f;
	color: #fff;
	/*border: 0.01rem solid #dfdfdf;*/
	float: left;
	border-left: none;
	outline: 0;
	font-size: 0.25rem;
	text-indent: 0;
}     
.main div .mima{
	background: #fff;
	position: absolute;
	left: 0.1rem;
	font-size: 0.6rem;
	color: #c0c0c0;
	bottom: 0.05rem;	
}

.denglu{
	width: 93%;
	height:0.72rem ;
	margin: 0.7rem auto 0.45rem;
	background: #fc3500;
	line-height: 0.72rem;
	text-align: center;
	font-size: 0.3rem;
	color: #fff;
	border-radius: 0.05rem;
}
.mainc{
	width: 88%;
	line-height: 0.34rem;
	font-size: 0.2rem;
	margin: 0 auto;
	color: #a2a2a2;
	display: flex;
	justify-content: space-between;
}
.mainb{
	width: 88%;
	margin: 4rem auto 0.56rem;	
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #616161;
}
.mainb .main_b{
	width: 30%;
	border: 0.01rem solid #dfdfdf;
}
.bot{
	width: 51%;
	height: 0.74rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}
.bot img{
	width:0.74rem;
	height: 0.74rem;
}
